/* General Body Styling */
body {
  margin: 0;
  padding: 0;
  background: url('heart.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Acme";
}

/* Container Styling */
.container {
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

/* Card Styling */
.card {
  position: relative;
  width: 300px;
  height: 533px; /* 9:16 aspect ratio */
  background: linear-gradient(#ffffff, #41aed0);
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
}

.card:hover {
  z-index: 1111;
  transform: perspective(2000px) rotateY(0deg);
  box-shadow: 5px 5px 20px rgb(235, 151, 128);
}

/* Left Flap Styling */
.flap.left-flap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: 1s;
  transform: rotateY(0deg);
  background-color: white;
  z-index: 2;
}

.flap.left-flap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .flap.left-flap {
  transform: rotateY(-180deg);
}

/* Right Flap Styling */
.flap.right-flap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: right;
  transition: 1s;
  transform: rotateY(0deg);
  background-color: white;
  z-index: 1;
}

.flap.right-flap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .flap.right-flap {
  transform: rotateY(180deg);
}
.flap.right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: 1s;
  transform: rotateY(0deg);
  background-color: white;
  z-index: 1;
}

.flap.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .flap.right {
  transform: rotateY(-179deg);
}

/* Card Details Styling */
.card-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  backface-visibility: hidden;
}

.card-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details h2 {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 1.7em;
  background: linear-gradient(to right, #f32170, #ff0c08, #710071, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: untold 3s infinite ease-in-out;
}

@keyframes untold {
  0%, 100% {
    background: linear-gradient(to right, #a14444, #ff0c08, #710071, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to right, #2fff00, #25235d, #ec4705, #a744ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.card-details p {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 0.6em;
  font-weight: 600;
}

/* Pigeon Styling */
.pigeon {
  position: absolute;
  width: 50px;
  animation: fly 5s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes fly {
  0% {
    transform: translate(-50%, 0) translateY(0);
  }
  100% {
    transform: translate(-50%, -100vh) translateY(0);
  }
}
